.detail_date {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
  color: #1b68da;
  line-height: 5;
}

.estimation_flight_time {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: #1b68da;
}

.booking_flight_card {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.airplane_name {
  font-size: 25px;
  font-weight: 700;
  color: #1b68da;
  border-bottom: 2px solid #1b68da;
  padding-bottom: 15px;
}

.booking_button {
  font-size: 17px;
  font-weight: 400;
  color: #1b68da;
  background-color: #faff00;
  padding: 5px;
  width: 100px;
  border-style: none;
  border-radius: 20px;
}

.booking_button:hover {
  color: #faff00;
  background-color: #1b68da;
}

.airplane_name_section {
  background-color: #faff00;
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
}
