.title_hotel_list {
  padding-left: 2%;
  padding-right: 30%;
  margin-top: 75px;
  color: white;
  text-shadow: #808080 3px 4px 3px;
  font-weight: 600;
  font-size: 25px;
  line-height: 52px;
}

.title_hotel_list h1 {
  color: white;
  text-shadow: #808080 3px 4px 3px;
  font-weight: 600;
  font-size: 27px;
  line-height: 10px;
}

.title_hotel_list span {
  color: white;
  text-shadow: #808080 3px 4px 3px;
  font-weight: 600;
  font-size: 21px;
}

.hotel_list_table {
  background-color: white;
  padding: 15px 15px 0px 15px;
  border-radius: 3px;
  width: 95% !important;
  margin-left: 2% !important;
  margin-right: 2% !important;
  margin-top: 6% !important;
}

.label_hotel_list {
  font-weight: 600 !important;
  background-color: rgba(27, 104, 218, 0.7) !important;
  color: white !important;
  font-size: 16px !important;
}

.option_hotel_list {
  font-weight: 300 !important;
  font-size: 15px !important;
  color: #1b68da !important;
  padding: 10px !important;
}

.option_hotel_list td {
  border: none;
  vertical-align: middle;
}

.button_detail_hotel {
  font-size: 13px !important;
  font-weight: 300 !important;
  border-style: none !important;
  padding: 3px 5px 3px 5px !important;
  width: 100px !important;
  border-radius: 20px !important;
  background-color: #1b68da !important;
  color: white !important;
}

.button_detail_hotel:hover {
  color: #1b68da !important;
  background-color: #faff00 !important;
}

.option_hotel_list img {
  width: 135px;
}
